.higherNote{
    color: dodgerblue;
    position: relative;
    width: fit-content;
}

.lowerNote{
    color:red;
    position: relative;
    width: fit-content;
}

/*Add a dot above the higher octave note*/
.higherNote::after {
    position: absolute;
    bottom: 60%;
    left: 40%;
    content: '\2024'
}

/*Add a dot below the lower octave note*/
.lowerNote::after {
    position: absolute;
    left: 30%;
    bottom: -30%;
    content: '\2024'
}